<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">

  <% movies.each do |movie| %>
    <div class="col mb-4">
      <div class="card h-100 d-flex flex-column">
        <% if movie.cover.attached? %>
          <%= link_to image_tag(movie.cover, class: "card-img-top flex-grow-1"), movie %>
        <% else %>
          <%= link_to image_tag(asset_path("placeholder.jpg"), class: "card-img-top flex-grow-1"), movie %>
        <% end %>
        <div class="card-body d-flex flex-column">
          <h5 class="card-title"><%= movie.title %></h5>
          <p class="card-text"><%= movie.release_year %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>